<div style="text-align:center;" class="w3-table-all w3-hoverable" >
  <div class="w3-blue" style="font-size: large;font-weight: bold;" >
    <span ng-bind="::nam" ng-attr-title="{{des}}" ></span>
  </div>
  <div style="min-height: 37px;">
    <div semaphore default="def" result="res" ng-hide="disablesemaphore"></div>
    <div  ng-bind="::res" ng-show="disablesemaphore"></div>
  </div>
</div>
