<div style="width: 100%">
  <h4 class="tableTitle" >Test <span ng-bind="data.title"></span></h4>

  <div class="w3-cell-row w3-card-4" ng-if="oneRow">
    <div class="w3-cell" cell
        name='"Hostname"'
        result='hostname'
        disablesemaphore='true' ></div>

    <div class="w3-cell" ng-repeat="entry in tableData">
      <div cell data="entry"></div>
    </div>
  </div>

  <!-- Multiple rows behaviour -->
  <div class="w3-responsive" ng-if="oneRow == false">
    <table class="w3-table-all w3-card-4 w3-hoverable">
      <tr class="w3-blue">
        <th ng-repeat="item in header track by $index">{{item}} </th>
      </tr>
      <tr ng-repeat="l in lines">
        <td>
          {{l[0].name}}
        </td>
        <td ng-repeat="entry in l track by $index">
          <div semaphore default="entry.defa" result="entry.result" text="entry.params"></div>
        </td>
      </tr>

    </table>
  </div>

  <!-- <div  ng-repeat="entry in tableData" ng-if="oneRow == 1" style="padding:7px; margin 7px;">
    <div class="w3-cell" cell
        name='"Hostname"'
        result='entry.testConfig.name'
        disablesemaphore='true' ></div>
    <div  class="w3-cell"  ng-repeat="(k,v) in entry.result  ">
      <div class="w3-cell" cell ng-hide='entry.testConfig.params[k][$index]  == "" '
                name="entry.testConfig.params[k][$index]"
                default="entry.testConfig.default[k][$index]"
                desc="entry.testConfig.params[k][$index]"
                result="entry.result[k][$index]" ng-repeat="p in v  track by $index"></div>
    </div>
  </div> -->

</div>
